In [1]:
rent=8000
rent

8000

In [2]:
petrol=500.5
groceries=2050.5
petrol

500.5

In [3]:
groceries

2050.5

In [4]:
total=petrol+groceries+rent
total

10551.0

In [5]:
gabbar="amjad khan"
jay="amitabh"
thakur="sanjiv kumar"
gabbar

'amjad khan'

In [6]:
type(gabbar)

str

In [7]:
type(rent)

int

In [8]:
type(petrol)

float

In [11]:
a=True
b=False
a

True

In [10]:
type(a)

bool

1) cannot use reverse words as variable name(for eg: True)
2) cannot use special characters in variable name(for eg:#,$)
3) variable name must start with letter or _
4) rest characters in variable can be a-z, A-Z, 0-9 and _
5) variable names are case-sensititve

In [12]:
bade_bhai=5
bade_Bhai=10
bade_bhai

5

In [13]:
bade_Bhai

10

using _ in between like this is called Snake Case Convention

In [14]:
foo=5
foo="Hello"
foo

'Hello'

previous example shows python is dynamically typed

In [15]:
bar=foo
id(bar)

2335366909888

In [16]:
id(foo)

2335366909888